#about {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.about_content {
  color: #667085;
  line-height: 100%;
  font-size: 0.9375rem;
  & p {
    margin-bottom: 1rem;
    font-family: "Formative Trial Light", Arial, sans-serif;
  }
}

@media (min-width: 1024px) {
  #about {
    & .section_title {
      margin-bottom: 1.25rem;
    }
  }

  .about_content {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #101828;
    padding: 3rem 2rem 0 2rem;
    margin: auto;
    width: 95%;
    height: 80vh;

    & > img {
      width: 50%;
      height: 90%;
    }
  }

  .about_text {
    width: 50%;
    line-height: 100%;
    font-size: 0.9rem;
    color: #101828;
    padding-right: 0.5rem;
  }
}

@media (min-width: 1440px) {
  .about_content {
    padding: 3.625rem 2.5625rem 3.625rem 2.125rem;
    height: 48rem;

    & > img {
      width: 34.5rem;
      height: 40.3125rem;
    }
  }

  .about_text {
    /* width: 35.625rem; */
    font-size: 1.3125rem;
  }
}
