#about {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.about_content {
  color: #667085;
  line-height: 100%;
  font-size: 0.9375rem;
  & p {
    margin-bottom: 1rem;
    font-family: "Formative Trial Light", Arial, sans-serif;
  }
}

@media (min-width: 1440px) {
  #about {
    & .section_title {
      margin-bottom: 1.25rem;
    }
  }

  .about_content {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #101828;
    padding: 3.625rem 2.5625rem 3.625rem 2.125rem;
    margin: auto;
    width: 75.0625rem;
    height: 48rem;

    & > img {
      width: 34.5rem;
      height: 40.3125rem;
    }
  }

  .about_text {
    width: 35.625rem;
    line-height: 100%;
    font-size: 1.3125rem;
    color: #101828;
  }
}
