.blog_content {
  & p {
    font-family: "Formative Trial Light", Arial, sans-serif;
    color: #667085;
    line-height: 160%;
    padding-top: 0.62rem;
    font-size: 0.9375rem;
  }
  & h3 {
    color: #101828;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: -0.025rem;
  }

  & .blog_first_title {
    line-height: 220%;
    border-bottom: 1px solid #eaecf0;
    padding-bottom: 0.94rem;
  }

  & .blog_second_title {
    line-height: 160%;
    padding-top: 1.25rem;
  }

  & .btn_secundary {
    padding: 0.5rem 1rem;
    margin-top: 0.94rem;
    font-family: "Formative Trial Light", Arial, sans-serif;
  }
}

u {
  text-decoration: underline;
  font-family: "Formative Trial Light", Arial, sans-serif;
}

@media (min-width: 1024px) {
  .blog_container {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    margin: 4rem auto;
    width: 90%;
    height: 60vh;

    & img {
      width: 42%;
      height: fit-content;
    }
  }

  .blog_content {
    margin: 0;
    width: 50%;

    & .blog_first_title {
      font-size: 1.5rem;
      line-height: 1rem;
      letter-spacing: -0.045rem;
    }

    & h3 {
      font-size: 1.25rem;
    }

    & p {
      line-height: 120%;
      padding: 0.5rem 0;
      font-size: 1rem;
    }

    & .btn_secundary {
      padding: 1rem 1.56rem;
      font-size: 1rem;
      line-height: 100%;
    }
  }

  .blog_container_content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;

    margin-top: 2.75rem;

    & > img {
      width: 50%;
    }
  }
}

@media (min-width: 1440px) {
  .blog_content {
    margin: 0;
    width: 50%;

    & .blog_first_title {
      padding: 0 0 3rem 0;
      font-size: 2.25rem;
      line-height: 2.75rem;
    }

    & .blog_second_title {
      padding-top: 1rem;
    }

    & h3 {
      font-size: 1.5rem;
    }

    & p {
      line-height: 155%;
      padding: 1.5rem 0;
      font-size: 1.125rem;
    }

    & .btn_secundary {
      padding: 1.25rem 1.56rem;
      font-size: 1.25rem;
      margin: 1.5rem 0;
      line-height: 100%;
    }
  }
}
