#blog {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.blog_content {
  & p {
    font-family: "Formative Trial Light", Arial, sans-serif;
    color: #667085;
    line-height: 160%;
    padding-top: 0.62rem;
    font-size: 0.9375rem;
  }
  & hr {
    opacity: 0.3;
  }
  & h3 {
    color: #101828;
    font-size: 1.25rem;
    font-weight: normal;
    letter-spacing: -0.025rem;
  }

  & .blog_first_title {
    line-height: 220%;
    border-bottom: 1px solid #eaecf0;
    padding-bottom: 0.94rem;
  }

  & .blog_second_title {
    line-height: 160%;
  }

  & .btn_secundary {
    padding: 0.5rem 1rem;
    margin-top: 0.94rem;
    font-family: "Formative Trial Light", Arial, sans-serif;
  }
}

u {
  text-decoration: underline;
  font-family: "Formative Trial Light", Arial, sans-serif;
}

@media (min-width: 1440px) {
  .blog_container {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    margin: 4rem auto;
    width: 90%;
    height: 60vh;

    & img {
      width: 42%;
      height: fit-content;
    }
  }

  .blog_content {
    margin: 0;
    width: 50%;

    & .blog_first_title {
      padding: 0 0 3rem 0;
      font-size: 2.2rem;
    }

    & .blog_second_title {
      padding-top: 1rem;
    }

    & h3 {
      line-height: 100%;
      font-size: 1.5rem;
    }

    & p {
      line-height: 155%;
      padding: 1.5rem 0;
    }

    & .btn_secundary {
      padding: 0.75rem 1.5rem;
      font-size: 1.1rem;
      margin: 1.5rem 0;
    }
  }
}
