#contact {
  background-color: #101828;
  color: white;
  padding: 2.5rem 1rem;
}

.contact_card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 42%;
  & h3 {
    font-weight: 500;
    font-size: 0.8rem;
  }
  & p {
    color: #cecece;
    font-family: "Formative Trial Light", Arial, sans-serif;
    font-size: 0.65rem;
  }
  & a {
    color: white;
    font-size: 0.65rem;
  }
}

.contact_address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 0;
  flex-wrap: wrap;
  font-style: normal;
}

.contact_form {
  display: flex;
  flex-direction: column;
  padding: 1.63781rem 1.31025rem;
  margin: 0 0.5rem;
  align-items: center;
  gap: 1.3rem;
  border-radius: 0.65513rem;
  align-self: stretch;
  background-color: white;
  color: #344054;

  & .btn_secundary {
    padding: 1rem 0;
    width: 100%;
  }
  & div {
    display: flex;
    align-items: flex-start;
    gap: 1.3rem;
    align-self: stretch;
  }
  & label {
    display: flex;
    width: 9.17163rem;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.25rem;
    font-size: 0.6rem;

    & input,
    textarea {
      width: 100%;
      border-radius: 0.35rem;
      border: 0.05rem solid #d0d5dd;
      box-shadow: 0 0.05rem 0.1rem 0 rgba(16, 24, 40, 0.05);
      font-size: 0.65rem;
      line-height: 150%;
    }

    & textarea {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      padding: 0.4rem 0.55rem;
      height: 10vh;
    }

    & input {
      padding: 0.5rem 0.65rem;
    }
  }

  .form_checkbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0;
    align-items: center;
    font-size: 0.7rem;
    line-height: 1rem;
    color: #667085;

    & > input {
      width: 1rem;
      margin-right: 0.3rem;
    }

    & a {
      text-decoration: underline;
      color: #667085;
    }
  }
}

.contact_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;
}

@media (min-width: 1440px) {
  .contact_container {
    flex-direction: row;
    gap: 4rem;
    width: 80rem;
    padding: 0 2rem;
    margin: 4rem auto;
  }

  .contact_section:nth-child(1) {
    order: 1;
  }

  .contact_form {
    width: 70%;
    padding: 2.5rem 2rem;
    gap: 1.5rem;

    & label {
      font-size: 0.875rem;
      line-height: 1.25rem;

      & input,
      textarea {
        font-size: 1rem;
      }
    }
    .form_checkbox {
      font-size: 1rem;
    }
  }

  .contact_address {
    justify-content: start;
    align-items: center;
    gap: 3rem;
    padding: 1.5rem 0;
    flex-wrap: wrap;
    font-style: normal;
  }

  .contact_card {
    gap: 1rem;
    width: 46%;
    margin-bottom: 1rem;
    & h3 {
      font-size: 1.25rem;
      line-height: 150%;
    }
    & p,
    a {
      font-size: 1rem;
      line-height: 150%;
    }
    & svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  #contact {
    padding: 1rem 0;
  }

  .line_footer {
    margin-bottom: 3rem;
  }
}
