#contact {
  background-color: #101828;
  color: white;

  & .section_title {
    border-bottom: 0.2px solid rgba(206, 206, 206, 0.3);

    & > h2 {
      color: #fff;
    }
  }
}

.contact_card {
  display: flex;
  flex-direction: column;
  gap: 0.66rem;
  width: 10.5rem;

  & h3,
  p,
  a {
    line-height: 150%;
  }

  & h3 {
    font-weight: 500;
    font-size: 0.82rem;
  }
  & p {
    color: #cecece;
    font-family: "Formative Trial Light", Arial, sans-serif;
    font-size: 0.66rem;
  }
  & a {
    color: white;
    font-size: 0.66rem;
  }
}

.contact_address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.97rem;
  flex-wrap: wrap;
  font-style: normal;
}

.contact_card_container {
  display: flex;
  gap: 1.31rem;
  width: 100%;
}

.contact_form {
  display: flex;
  flex-direction: column;
  padding: 1.64rem 1.31rem;
  align-items: center;
  gap: 1.31rem;
  border-radius: 0.66rem;
  align-self: stretch;
  background-color: white;
  color: #344054;

  & .btn_secundary {
    padding: 0.82rem 0;
    font-size: 0.66rem;
    line-height: 150%;
    width: 100%;
  }
}

.contact_form_inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.98rem;
  width: 100%;

  & div {
    display: flex;
    align-items: flex-start;
    gap: 1.3rem;
    align-self: stretch;
  }
  & label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.25rem;
    font-size: 0.58rem;

    & input,
    textarea {
      width: 100%;
      border-radius: 0.35rem;
      border: 0.05rem solid #d0d5dd;
      box-shadow: 0 0.05rem 0.1rem 0 rgba(16, 24, 40, 0.05);
      font-size: 0.65rem;
      line-height: 150%;
    }

    & textarea {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      padding: 0.4rem 0.55rem;
      height: 10vh;
    }

    & input {
      padding: 0.5rem 0.65rem;
    }
  }
}

#form_checkbox {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1rem;
  color: #667085;

  & > input {
    width: 0.82rem;
    margin-right: 0.49rem;
    outline: none;
    opacity: 0.3;
    border: 1px solid #d0d5dd;
  }

  & u {
    font-family: "Formative Trial", Arial, sans-serif;
  }
}

.contact_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.62rem;
}

@media (min-width: 1440px) {
  #contact {
    padding: 1rem 0;
    & .section_title {
      margin-bottom: 2.75rem;
    }
  }

  .contact_container {
    flex-direction: row;
    gap: 4rem;
    width: 80rem;
    padding: 0 2rem;
    margin: auto;
  }

  .contact_section:nth-child(1) {
    order: 1;
  }

  .contact_form {
    width: 50rem;
    padding: 2.5rem 2rem;
    gap: 2rem;

    & label {
      font-size: 0.875rem;
      line-height: 1.25rem;

      & input,
      textarea {
        font-size: 1rem;
      }

      & textarea {
        height: 9.625rem;
      }
    }

    & .btn_secundary {
      padding: 1.25rem 1.5625rem;
      font-size: 1rem;
    }
  }

  .contact_address {
    justify-content: start;
    align-items: center;
    gap: 3rem;
    padding: 1.5rem 0;
    flex-wrap: wrap;
    font-style: normal;
  }

  .contact_card {
    gap: 1rem;
    width: 46%;
    margin-bottom: 1rem;
    & h3 {
      font-size: 1.25rem;
      line-height: 150%;
    }
    & p,
    a {
      font-size: 1rem;
      line-height: 150%;
    }
    & svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  #form_checkbox {
    font-size: 1rem;
    line-height: 1.5rem;

    & input {
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 0.5rem;
    }
  }

  .contact_form_inputs {
    gap: 1.5rem;
    align-self: stretch;
  }
}
