.footer {
  background-color: #101828;
  color: white;
  border-top: 0.2px solid rgba(206, 206, 206, 0.3);
}

#newsletter {
  display: flex;
  flex-direction: column;

  & p {
    padding-bottom: 2rem;
    font-size: 0.8125rem;
    line-height: 110%;
    color: #cecece;
    font-family: "Formative Trial Light", Arial, sans-serif;
  }

  & h2 {
    font-size: 1.25rem;
    line-height: 150%;
    font-weight: normal;
  }
}

.newsletter_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.94rem;

  & input,
  button {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.45rem;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(16, 24, 40, 0.05);
    font-size: 0.88rem;
    line-height: 150%;
  }

  & input {
    background: #dedede;
    color: #667085;
    border: 0.05rem solid #d0d5dd;
    padding: 0.55rem 0.77rem;
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.55rem 7.8rem;
    border: 0.1rem solid #d0d5dd;
    background-color: #fff;
    color: #344054;
    font-weight: 600;
  }
}

.footer_nav {
  & > p {
    color: #cecece;
    font-size: 1rem;
    line-height: 150%;
    padding-bottom: 1.88rem;
    font-family: "Formative Trial Light", Arial, sans-serif;
  }
}

.footer_links {
  display: flex;
  flex-wrap: wrap;
  width: 22.4375rem;
  gap: 1.88rem 2.82rem;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 9rem;

    & li {
      &:nth-child(1) {
        padding-bottom: 0.25rem;
        font-size: 0.88rem;
        line-height: 1.25rem;
      }
      & > a {
        color: #cecece;
        font-size: 1rem;
        line-height: 150%;
      }
    }
  }
}

.footer_nav_title {
  display: flex;
  align-items: center;
  gap: 0.6875rem;
  padding-bottom: 1.25rem;

  font-size: 1.25rem;
  line-height: 120%;
}

.footer_social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.62rem;
  padding: 0 0.88rem 2.5rem 0.88rem;
  /* border-top: 0.2px solid rgba(206, 206, 206, 0.3); */

  & hr {
    border: 0.2px solid rgba(206, 206, 206, 0.3);
    width: 100%;
  }

  & > p {
    color: #cecece;
    text-align: center;
    font-family: "Formative Trial Light", Arial, sans-serif;
    font-size: 1rem;
    line-height: 150%;

    padding-top: 0.63rem; /* Para colocar o hr igual o figma, foi necessário fazer 1.25 - 0.62 */
  }

  & > ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}
