.footer {
  background-color: #101828;
  color: white;
  border-top: 0.2px solid rgba(206, 206, 206, 0.3);
}

#newsletter {
  display: flex;
  flex-direction: column;

  & p {
    padding-bottom: 2rem;
    font-size: 0.8125rem;
    line-height: 110%;
    color: #cecece;
    font-family: "Formative Trial Light", Arial, sans-serif;
  }

  & h2 {
    font-size: 1.25rem;
    line-height: 150%;
    font-weight: normal;
  }
}

.newsletter_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.94rem;

  & input,
  button {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.45rem;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(16, 24, 40, 0.05);
    font-size: 0.88rem;
    line-height: 150%;
  }

  & input {
    background: #dedede;
    color: #667085;
    border: 0.05rem solid #d0d5dd;
    padding: 0.55rem 0.77rem;
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.55rem 7.8rem;
    border: 0.1rem solid #d0d5dd;
    background-color: #fff;
    color: #344054;
    font-weight: 600;
  }
}

.footer_nav {
  & section > p {
    color: #cecece;
    font-size: 1rem;
    line-height: 150%;
    padding-bottom: 1.88rem;
    font-family: "Formative Trial Light", Arial, sans-serif;
  }
}

.footer_links {
  display: flex;
  flex-wrap: wrap;
  width: 22.4375rem;
  gap: 1.88rem 2.82rem;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 9rem;

    & li {
      &:nth-child(1) {
        padding-bottom: 0.25rem;
        font-size: 0.88rem;
        line-height: 1.25rem;
      }
      & > a {
        color: #cecece;
        font-size: 1rem;
        line-height: 150%;
      }
    }
  }
}

.footer_nav_title {
  display: flex;
  align-items: center;
  gap: 0.6875rem;
  padding-bottom: 1.25rem;

  font-size: 1.25rem;
  line-height: 120%;
}

.footer_social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: 0 0.88rem 2.5rem 0.88rem;

  & hr {
    border: 0.2px solid rgba(206, 206, 206, 0.3);
    width: 100%;
  }

  & p {
    color: #cecece;
    text-align: center;
    font-family: "Formative Trial Light", Arial, sans-serif;
    font-size: 1rem;
    line-height: 150%;
  }

  & ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    & svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.footer_social_content {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}

@media (min-width: 1024px) {
  #newsletter {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    gap: 2rem;

    & h2,
    p {
      font-size: 1.25rem;
      line-height: 1.875rem;
      padding: 0;
    }
  }

  .newsletter_text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .newsletter_form {
    flex-direction: row;
    gap: 1rem;

    & input,
    button {
      height: 2.75rem;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      font-size: 1rem;
    }

    & input {
      width: 17.5rem;
      padding: 0.625rem 0.875rem;
    }

    & button {
      padding: 0.625rem 1.125rem;
      width: 7rem;
    }
  }

  .footer_nav {
    display: flex;
    gap: 4rem;
    margin: 0 2rem;

    & section {
      & > p {
        padding-bottom: 0;
        width: 100%;
      }
    }
  }

  .footer_links {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    width: 100%;

    & ul {
      width: 30%;
    }
  }

  .footer_social {
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem 3rem 2rem;
    margin: auto;
    width: 90%;
  }

  .footer_social_content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .footer_links {
    gap: 2rem;
    width: 76rem;

    & ul {
      width: 8.8rem;
    }
  }
}
