.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/dog_hero_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: white;
  height: 40rem;
  overflow: hidden;

  & h1,
  p {
    padding-left: 1.69rem;
  }

  & h1 {
    font-size: 1.875rem;
    margin: 1rem 0;
    padding-top: 8rem;
    font-weight: 500;
    width: 90%;
    line-height: 130%;
    letter-spacing: 0.0375rem;
  }

  & p {
    width: 19.5625rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 120%;
    font-family: "Formative Trial Light", Arial, sans-serif;
  }
}

.btn_primary {
  display: flex;
  gap: 0.75rem;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 2rem 1.5rem;
  padding: 1rem 1.75rem;
  font-size: 1rem;
  line-height: 1.75rem;
  border: 1px solid white;
  border-radius: 3.125rem;
  width: 10.8rem;
  height: 3.75rem;

  & svg {
    width: 1.375rem;
    height: 1.375rem;
  }
}

@media (min-width: 1024px) {
  .hero {
    background-image: url("../img/dog_hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

    & h1,
    p {
      width: 39.375rem;
      margin: 0 0 0 5rem;
    }

    & h1 {
      font-size: 3.75rem;
      line-height: 100%;
      letter-spacing: 0.075rem;
      padding: 0;
    }

    & p {
      line-height: 1.5rem;
      font-size: 1rem;
      padding: 1.25rem 0 1.88rem 0;
    }
  }

  .btn_primary {
    width: 11.7rem;
    display: flex;
    margin: 0 0 0 5rem;
    padding: 1rem 1.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.125rem;
    border-radius: 3.125rem;
    border: 1px solid #fff;
    background: rgba(105, 65, 198, 0);
  }
}

@media (min-width: 1440px) {
  .hero {
    height: 55.1875rem;
  }
}
