.team_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.38rem;

  & li {
    width: 10.9rem;
  }
}

.team_card {
  text-align: center;

  & img,
  p,
  footer {
    padding-bottom: 0.31rem;
  }

  & img {
    width: 100%;
  }

  & h4 {
    font-size: 0.8rem;
    line-height: 150%;
  }
  & p {
    color: rgba(16, 24, 40, 0.5);
    font-size: 0.7rem;
    line-height: 155%;
  }

  & footer {
    display: flex;
    justify-content: center;
    gap: 0.78rem;
    padding-top: 0.08rem;

    & svg {
      width: 0.95rem;
      height: 0.95rem;
    }
  }
}

@media (min-width: 1440px) {
  #team > .section_title {
    margin-bottom: 2.75rem;
  }

  .team_list {
    gap: 2rem;
    width: 80rem;
    padding: 0rem 2rem;
    & li {
      width: fit-content;
    }
  }

  .team_card {
    text-align: start;

    & h4 {
      font-size: 1.25rem;
      padding-top: 1rem;
      line-height: 150%;
      color: #101828;
    }
    & p {
      font-size: 1.125rem;
      padding: 0.2rem 0 1rem 0;
    }

    & footer {
      justify-content: start;
      gap: 1rem;
      & svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}
