.service_list {
  display: grid;
  grid-template-areas:
    "grooming boarding"
    "veterinary training"
    "adoption adoption";
  gap: 0.5rem;
  margin: 1.5rem 1rem 4rem 1rem;

  & li {
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    border-radius: 0.3rem;
    color: white;
    font-size: 1.5rem;
  }
}

.grooming {
  grid-area: grooming;
  background-image: url("../img/services/services-1.png");
}

.boarding {
  grid-area: boarding;
  background-image: url("../img/services/services-2.png");
}

.veterinary {
  grid-area: veterinary;
  background-image: url("../img/services/services-3.png");
}

.training {
  grid-area: training;
  background-image: url("../img/services/services-4.png");
  background-position: bottom;
}

.adoption {
  grid-area: adoption;
  background-image: url("../img/services/services-5-mobile.png");
}

@media (min-width: 1024px) {
  .service_list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "grooming boarding adoption"
      "veterinary training adoption";
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    margin: 2rem auto;
    & li {
      height: 100%;
      min-height: 30vh;
      font-size: 2.5rem;
    }
  }

  .adoption {
    background-image: url("../img/services/services-5.png");
  }

  #services {
    margin-bottom: 6rem;
  }
}
