.product_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.06rem;
  width: 22.375rem;

  & li > img {
    border-radius: 0.5rem;
    width: 100%;
  }
}

.product_categories {
  display: flex;
  justify-content: space-between;

  & button {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    font-size: 0.9375rem;
    line-height: 100%;
    padding: 0.3125rem 0.625rem;

    &.btn_secundary {
      color: white;
      padding: 0.625rem 1rem;
    }
  }
}

.shop_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.3);
  & > .section_title {
    border-bottom: none;
  }
}

.shop_subtitle {
  font-weight: 500;
  font-size: 0.9375rem;
  padding: 0.625rem;
  line-height: 100%;
}

.shop_content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.hide_mobile {
  display: none;
}

@media (min-width: 1440px) {
  .shop_header {
    margin-bottom: 1.25rem;
    & > svg {
      display: none;
    }
  }

  .shop_content {
    margin: auto;
    width: 75rem;
    gap: 2.5rem;
    padding: 2.5rem 1.32rem;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .shop_subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
  }

  .product_categories {
    gap: 0.62rem;
    & button {
      font-size: 1.25rem;
      padding: 0.625rem 1.25rem;

      &.btn_secundary {
        padding: 0.94rem 1.56rem;
      }
    }
  }

  .shop_products {
    overflow: hidden;
    width: 100%;
    & > button {
      background-color: transparent;
      border: none;
      font-weight: bold;
      width: 100%;
      justify-content: end;
      padding-top: 2.25rem;
      font-size: 1.25rem;
    }
  }

  .product_list {
    flex-direction: row;
    width: 100%;

    & li {
      width: 100%;
      & > img {
        display: flex;
      }
    }
  }

  .hide_mobile {
    display: flex;
  }

  .input_search {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    border-radius: 3rem;
    background-color: #f4f4f4;
    gap: 0.3rem;
    & input {
      border: none;
      background-color: inherit;
      border-radius: inherit;
      outline: none;
      width: 13rem;
      padding: 0.75rem 1rem 0.75rem 0.25rem;
      font-size: 1.0625rem;
      color: rgba(16, 24, 40, 0.38);
    }

    & svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
