#shop {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.product_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.0625rem;
  width: 22.375rem;

  & li > img {
    border-radius: 0.5rem;
    width: 100%;
  }
}

.product_categories {
  display: flex;
  justify-content: space-between;

  & button {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    font-size: 0.9375rem;
    line-height: 100%;
    padding: 0.3125rem 0.625rem;

    &.btn_secundary {
      color: white;
      padding: 0.625rem 1rem;
    }
  }
}

.shop_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.3);
  & > .section_title {
    border-bottom: none;
  }
}

.shop_subtitle {
  font-weight: 500;
  font-size: 0.9375rem;
  padding: 0.625rem;
  line-height: 100%;
}

.hide_mobile {
  display: none;
}

@media (min-width: 1440px) {
  .shop_header {
    & > svg {
      display: none;
    }
  }

  .shop_products {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 6rem;
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
    & > button {
      background-color: transparent;
      border: none;
      font-weight: bold;
      width: 100%;
      justify-content: end;
      padding: 0.5rem 1rem 2rem 0;
    }
  }

  .product_list {
    flex-direction: row;
    padding: 1rem;
  }

  .hide_mobile {
    display: flex;
  }

  .shop_subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
  }

  .input_search {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    margin-right: 1rem;
    border-radius: 2rem;
    background-color: #f4f4f4;
    gap: 0.3rem;
    & input {
      border: none;
      background-color: inherit;
      border-radius: inherit;
      outline: none;
      padding: 0.75rem 1rem 0.75rem 0.25rem;
    }
  }
}
