@import url("navbar.css");
@import url("hero.css");
@import url("shop.css");
@import url("services.css");
@import url("about_us.css");
@import url("blog.css");
@import url("our_team.css");
@import url("contact.css");
@import url("footer.css");

@font-face {
  font-family: "Formative Trial";
  src: url("../fonts/Formative\ Trial\ Medium.woff2");
}

@font-face {
  font-family: "Formative Trial Light";
  src: url("../fonts/Formative\ Trial\ Light.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Formative Trial", Arial, sans-serif;
}

.btn_secundary {
  background: linear-gradient(#101828, #233250);
  color: white;
  border-radius: 0.5rem;
  border: none;
}

.section_title {
  display: flex;
  align-items: center;
  gap: 0.94rem;
  padding-bottom: 0.62rem;
  width: 22.375rem;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.3);

  & h2 {
    font-weight: normal;
    color: #101828;
    font-size: 1.25rem;
    line-height: 100%;
  }

  & > svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

#shop,
#services,
#about,
#blog,
#team,
#contact {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

#shop,
#services,
#about,
#blog,
#team,
#contact,
#newsletter,
.footer_nav {
  padding: 2.5rem 1rem;
}

@media (min-width: 1440px) {
  .section_title {
    padding: 2rem 1.5rem 0.5rem 5rem;
    & h2 {
      font-size: 2rem;
    }
    & svg {
      height: 2rem;
      width: 2rem;
    }
  }

  button {
    cursor: pointer;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  /* Troca a posição da seção blog para a posição antes da seção de contato */
  .section:nth-child(4) {
    order: 1;
  }

  /* Coloca a seção de contato logo antes do footer */
  .section:nth-child(6) {
    order: 2;
  }
}
